.sk-navigator {
    .nav-link {
        padding: 0.5rem 0.75rem;
        color: $sk-gray-900;
        font-family: $sk-font-family-secondary;
        letter-spacing: 0.05rem;
        line-height: 1.2;
    }
}